#container {
  width: calc(100%);
  height: calc(100% - 31.2px);
}

#navigation {
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(120, 118, 116);
  border-bottom: 1px solid rgb(120, 118, 116);
  width: calc(100%);
  white-space: nowrap;
}

#navigation button {
  padding: 4px;
  margin: 2px;
  border: 1px solid #d5d5d5;
  background: linear-gradient(#fcfcfc, #eee);
  border-radius: 2px;
  font-size: 10pt;
  color: #404040;
  cursor: pointer;
}

#navigation button:disabled {
  color: graytext;
  cursor: default;
}

#navigation span {
  margin: auto 5px auto 5px;
  font-size: 12px;
}

#navigation .divider {
  border-left: 1px solid rgb(76, 74, 72);
  margin: 0 5px 0 5px;
}

#navigation select {
  margin: auto 0;
}

.created {
  box-sizing: border-box;
  background: transparent;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  border: 1px solid; 
  vertical-align: bottom;
} 

#created--root {
  position: absolute;
  top: 0px;
  left: 0px;
}

.informationNode {
  display: inline-block;
  position: absolute;
  background-color: white;
  font-family: Consolas;
  font-size: 11px;
  padding: 2px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.codeElement {
  display: inline-block;
  position: absolute;
  font-family: Consolas;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: auto;
}

.codeElement:hover {
  background-color: #BDBDBD;
}

.codeElement.overflowed {
  width: 250px !important;
  overflow: scroll;
  white-space: normal;
  z-index: +1;
  text-overflow: clip;
}
