<template id="lively-dom-inspector" data-class="LivelyDomInspector" data-title="Lively DOM Inspector">
  <style data-src="/../lively4-explorable-dom/css/main.css"></style>
  <div id="navigation">
    <span>Views:</span>
    <input id="slider" type="range" min="0" max="4" value="0" step="1" />
    <button id="basicViewButton">Basic View</button>
    <button id="zoomableElementsViewButton">Zoomable Elements</button>
    <button id="zoomViewButton">Zoom View</button>
    <button id="codeViewButton">Code View</button>
    <button id="hideViewButton" disabled="disabled">Hide View</button>
    <div class="divider"></div>
    <span>Hierarchy Level:</span>
    <span id="hierarchyLevel">- / -</span>
    <button id="previousHierarchyLevelButton" disabled="disabled">-</button>
    <button id="nextHierarchyLevelButton" disabled="disabled">+</button>
    <div class="divider"></div>
    <span>Filter:</span>
    <select id="tagSelect" disabled>
      <option value="1" selected>-</option>
    </select>
  </div>
  <div id="container"></div>
</template>

<script class="registrationScript">
  // Fake the Lively URL to load the template from our own folder
  let oldLively4Url = lively4url;
  lively4url = location.origin + '/lively4/lively4-explorable-dom';
  lively.registerTemplate()

  // Reset the Lively URL to the original
  lively4url = oldLively4Url;
</script>
