<template id="lively-dom-inspector" data-class="LivelyDomInspector" data-title="Lively DOM Inspector">
  <style>
    #navigation {
      margin-top: 0.1em;
      border-bottom: 0.01em solid gray;
      width: calc(100%);
      height: 3em;
    }
    
    #container {
      width: calc(100%);
      height: calc(100% - 3em);
    }
  </style>
  <div id="navigation">
    <div id="buttons">
      <button style=" margin-right: 1em" id="showContainerButton">Show Container</button>
      <button style="margin-right: 1em" id="previousHierarchyLevelButton" disabled="disabled">-</button>
      <button style="margin-right: 1em" id="nextHierarchyLevelButton" disabled="disabled">+</button>
      <button style="margin-right: 1em" id="zoomableContainerButton" disabled="disabled">Make Elements zoomable</button>
      <button style="margin-right: 1em" id="zoomContainerButton">Zoom Container</button>
      <button style="margin-right: 1em" id="codeContainerButton">Code Container</button>
      <button id="hideContainerButton" disabled="disabled">Hide Container</button>
    </div>
    <input id="slider" type="range" min="0" max="4" value="0" step="1" />
  </div>
  <div id="container">
  </div>
</template>

<script class="registrationScript">
  // Fake the Lively URL to load the template from our own folder
  let oldLively4Url = lively4url;
  lively4url = location.origin + '/lively4/lively4-explorable-dom';
  lively.registerTemplate()

  // Reset the Lively URL to the original
  lively4url = oldLively4Url;
</script>
